/*
 *      This file is part of Project Lumiére <http://monossido.ath.cx/cinema>
 *      
 *      Project Lumiére is free software: you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation, either version 3 of the License, or
 *      (at your option) any later version.
 *      
 *      Project Lumiére  is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with Project Lumiére.  If not, see <http://www.gnu.org/licenses/>.
 *      
 */
<style type="text/css">html,body{margin:0; padding: 0}
body{font-family: arial,sans-serif; font-size: 76%}
div#container{ width: auto; }
div#header{position: relative;height: 125px;
background: url('images/logobg.gif') repeat-x top right;}
h1{margin: 0;padding:0}
h2{color:#4078B8; font-size:1.5em; text-align:center}
div#navigation{}
div#content{padding:0 1.5em}
div#content p{line-height:1.3em}
div#footer{padding:0.5em; background-color:#B0D0E8; color:#000; text-align:center}
<<<<<<< HEAD:style.css
</style>
=======
.SearchBarRight {
 width:4px;
 vertical-align:top;
 background-image:url(http://static.subito.it/img/SearchBarRightBackgroundNew.gif);
 background-position:bottom left;
 background-repeat:no-repeat;
 }

.SearchBarBottom {
 height:3px;
 background-image:url(http://static.subito.it/img/SearchBarBottomBackground.gif);
 background-repeat:repeat-x;
}       

.SearchBarLeft  {
 width:2px;
 vertical-align:top;
 padding:0 0 0 0;
 background-image:url(http://static.subito.it/img/SearchBarLeftBackground.gif);
 background-position:bottom left;
 background-repeat:no-repeat;
 }

.SearchBarCenter        {
 padding:0 0 0 0;
 background-image:url(http://static.subito.it/img/SearchBarCenterBackgroundNew.gif);
 background-repeat:repeat-x;
 }               

#searchmain {
 margin-bottom: 0px;
 position:relative;
}

#searchmain #cat{
width: 230px;
}

#searchextras {
 clear: left;
}

#searchtext {
 width: 250px;
 margin: 6px 4px 0 5px;	
 float: left;
}
table {font: 100% 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;}
table a {color: #3A4856; text-decoration: none; border-bottom: 1px solid #C6C8CB;}  
table a:visited {color: #777;}
table a:hover {color: #000;}  
table caption {text-align: left; text-transform: uppercase;  padding-bottom: 10px; font: 200% 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;}
table thead th {background: #3A4856; padding: 15px 10px; color: #fff; text-align: left; font-weight: normal;}
table tbody, table thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}
table tbody {border-bottom: 1px solid #EAECEE;}                      
table tbody td, table tbody th {padding: 10px; background: url('http://www.dodoftw.it/images/td_back.gif') repeat-x; text-align: left;}
table tbody tr {background: #F3F5F7;}
table tbody tr.odd {background: #F0F2F4;}
table tbody  tr:hover {background: #EAECEE; color: #111;}
</style>

